body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.title {
    padding: 1rem;
    margin-top: 0;
    margin-bottom: 3rem;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    color: white;
    background-color: rgb(46, 68, 64);
}

.calculator-metal-edges {
    border: 1px solid black;
   
   
    /*size and placement of calculator*/
    background: conic-gradient(rgb(199, 199, 199), rgb(140, 140, 140), rgb(60, 60, 60), rgb(149, 149, 149), rgb(203, 203, 203));

    width: 365px; /*adjusts the body of calc needs to be refactored for responsive*/
    margin-left: auto;
    margin-right: auto;

}


.calculator-body {
    height: 600px; /*adjusts the body of calc needs to be refactored for responsive*/
    width: 350px; /*adjusts the body of calc needs to be refactored for responsive*/
    margin-left: auto;
    margin-right: auto;
    
 
    /*styling*/
    background: linear-gradient(70deg, rgb(74, 45, 70), rgb(74, 47, 45));
    padding: 1rem 0 0 0;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 5px solid black; 
    border-bottom: 2px solid rgb(101, 106, 107);


    /*children positioning*/
    display: flex;
    flex-direction: column;
    align-items: center;

    /*text*/
    color: #fff;
    
}

.calc-top {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.calculator-logo{
    padding-top: 0.5rem;
    padding-left: 2rem;
    align-self: flex-start;
    padding-bottom: 1rem;
    width: 100%;
    font-family: 'Blinker', sans-serif;
    text-shadow: 1px 3px 3px black;
    letter-spacing: 0.15ch;
    font-size: 1.3rem;
    border-bottom: solid 1px silver;
}

.calculator-screen {
    border-top: 14px solid rgb(68, 37, 53);
    border-bottom: 7.5px solid rgb(78, 42, 36);
    width: 100%;
    height: 4.5rem;
    text-align: center;
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    background: linear-gradient(rgb(24, 4, 11),rgb(24, 4, 11),rgb(44, 5, 24),rgb(35, 9, 18), rgb(24, 4, 11));
}

.calculator-screen-text {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    color: rgb(255, 63, 137);
    text-transform: uppercase;
    text-align: right;
    justify-self: flex-end;
    padding-right: 3.75rem;
    padding-top: 0.5rem; 
    font-size: 1rem;  
    text-shadow: 3px -1px 9px rgba(255, 177, 220, 0.774); 
}

.calc-bottom {
    width: 100%;
    height: 70%;
    background: linear-gradient(306deg, rgb(208, 192, 154),  rgb(224, 216, 173), rgb(213, 201, 171) 70.71%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator-buttons{
    height: 85%;
    width: 90%;
}


.button-row{
    /*one row of buttons*/
    width: 100%;
    height: calc(100% / 5);
    display: flex;
    justify-content: space-evenly;
    
}
/*sets the first row of buttons to be right aligned*/
.button-row:first-of-type {
    width: 50%;
    margin-left: auto;
}

.button-row:first-of-type .cal-button-container{
    width: 50%;
}
/*ends the styling for first set of right aligned buttons*/

.cal-button-container {
    display: flex;
    width: 25%;
    align-items: center;
    flex-direction: column;
    
}


/*styling for outline in button area*/
/*top border*/
.button-row:nth-child(2) .cal-button-container:not(:last-of-type) {
    border-top: 3px solid black;
    
}
/*left border*/

.button-row:nth-child(5) .cal-button-container:nth-of-type(2),
.button-row:nth-child(4) .cal-button-container:first-of-type,
.button-row:nth-child(3) .cal-button-container:first-of-type,
.button-row:nth-child(2) .cal-button-container:first-of-type {
    border-left: 3px solid black;
}

/*right border*/
.button-row:nth-child(4) .cal-button-container:nth-of-type(3),
.button-row:nth-child(5) .cal-button-container:nth-of-type(3),
.button-row:nth-child(3) .cal-button-container:nth-of-type(3),
.button-row:nth-child(2) .cal-button-container:nth-of-type(3) {
    border-right: solid black 3px;
}

/*bottom border*/

.button-row:nth-child(4) .cal-button-container:nth-of-type(1),
.button-row:nth-child(5) .cal-button-container:nth-of-type(3),
.button-row:nth-child(5) .cal-button-container:nth-of-type(2)
 {
    border-bottom: solid black 3px;
}
/*border radii for edges;*/
.button-row:nth-child(2) .cal-button-container:nth-of-type(1) {
    border-top-left-radius: 12%;
}

.button-row:nth-child(2) .cal-button-container:nth-of-type(3)
 {
    border-top-right-radius: 12%;
}
.button-row:nth-child(4) .cal-button-container:nth-of-type(1),
.button-row:nth-child(5) .cal-button-container:nth-of-type(2)
{
    border-bottom-left-radius: 12%;
}

.button-row:nth-child(5) .cal-button-container:nth-of-type(3)
{
    border-bottom-right-radius: 12%;
}


.button-text {
    font-family: 'Sarpanch', sans-serif;
    font-weight: 600;
    font-stretch: ultra-expanded;
    font-size: 1.4rem;
    text-align: center;
    color: black;
    padding: 0;
    margin: 0;
    line-height: 1.9ch;
    
    
}

/*just ce text*/
.button-row:nth-child(5) .cal-button-container:nth-of-type(1) .button-text{
     font-family: 'Orbitron', sans-serif;
     font-weight: 900;
     letter-spacing: 0.1ch;
     font-stretch: ultra-expanded;
     line-height: 1.85ch;
     font-size: 1.2rem;
    
    

}


.cal-button{
    /*buttons for calculator*/
    width: 2.25rem;
    height: 1.65rem;
    background-color: rgb(130, 52, 31);
    border: 3px solid black;
    border-radius: 3px;
    box-shadow: inset 4px 5px 5px rgb(198, 110, 88);
    
}

.cal-button:hover {
    background-color: rgb(112, 40, 17);
    
    box-shadow: inset 4px 5px 5px rgb(112, 48, 32);
}

.cal-button:active
{
    background-color: rgb(100, 35, 17);
}